$color-white: white;
$translate3d-0-0-0: translate3d(0, 0, 0);
$translate3d-100-0-0: translate3d(100%, 0, 0);
$translate3d-s100-0-0: translate3d(-100%, 0, 0);
$translate3d-0-100-0: translate3d(0, 100%, 0);
$translate3d-0-s100-0: translate3d(0, -100%, 0);
$pos-absolute: absolute;